@import url(/global__var/styles.css);
.header {
    display: flex;
    justify-content: space-between; /* Asegura que los elementos se distribuyan en los extremos del contenedor */
    align-items: center;
    padding: 10px 30px; /* Reduce el padding si es necesario */
    background-color: white;
    position: -webkit-sticky; /* Para la compatibilidad con algunos navegadores */
    position: sticky;
    top: 0; 
    width: 96%;
    z-index: 1;
  }
  
  .header__menu-icon {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--principal__color);
  }
  
  .header__logo img {
    width: 180px; /* Ajusta el tamaño del logo si es necesario */
    height: auto;
  }
  
  .header__items {
    display: flex; /* Utiliza flexbox para alinear los ítems */
    align-items: center; /* Alinea los ítems verticalmente */
    
  }
  
  .header__items a {
    color: var(--principal__color);
    font-size: 20px; /* Ajusta el tamaño de la fuente si es necesario */
    padding: 0 10px; /* Ajusta el padding entre íconos */
    text-decoration: none;
    
  }
  
  .fa-search, .fa-heart, .fa-user, .fa-shopping-cart {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: var(--principal__color);
  }

  .header__menu {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2; 
    top: 0;
    left: 0;
    background-color: var(--principal__color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    
  }
  
  .header__menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--gray__color);
    display: block;
    transition: 0.3s;
    
  }
  
  .header__menu a:hover {
    color: var(--secondary__color);
  }
  .header__menu-icon--close {
    font-size: 36px;
    color: var(--secondary__color);
    position: absolute;
    top: 0;
    right: 25px;
    cursor: pointer;
    margin-top: 25px;
  }
  
  .header__menu-redes{
    color: var(--gray__color);
    list-style: none;
    display: flex;
    margin-top: 20px;
    
  }
  .fa-instagram, .fa-facebook, .fa-whatsapp{
    width:44px;
    height: auto;
    padding-left: 10px;
  }
  .fa-instagram:hover, .fa-facebook:hover, .fa-whatsapp:hover{
  color: var(--secondary__color);
 }
